/* ------------ Schrift einbinden ------------ */

@font-face {
  font-family: "MidnightMinutes";
  src: url("../font/MidnightMinutes_DEMO.otf");
}

/* ------------ Allgemein ------------ */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*   line-height: 1.5;
 */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(239, 239, 239, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 30px;
  scroll-behavior: smooth;
}

/* ------------ Logobereich ------------ */

#Logo-div {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img {
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

#logo-text {
  margin-top: 15px;
  font-size: 4.2rem;
  font-family: "MidnightMinutes";
}
#slogan {
  font-size: 0.95rem;
  margin-top: -8px;
}

/* 
body{
  padding: 30px;
  border: 2px solid gray;
  border-radius: 30px;
  background-color: #303030;
} */

/* ------------ Buttons / Header ------------ */

header {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 20px;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgb(168, 23, 23);
  border: 0px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(134, 7, 7);
}

/* #Kiel{}
#Duesseldorf{}
#Nürnberg{}
 */

/* ------------ bevor fetch ------------ */

.chooseCity {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------ Main ------------ */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100svh; */
}

/* ------------ Weather Now ------------ */

.weatherNow {
  margin: 20px;
  padding: 20px;
  border-bottom: 2px solid #393939;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weatherNow h1 {
  font-size: 3rem;
  line-height: 0%;
  padding: 30px;
  text-shadow: 5px 5px 10px rgb(123, 5, 5);
  margin-top: 2rem;
}
.weatherNow img {
  height: 100px;
  width: 100px;
  filter: sepia() hue-rotate(310deg) saturate(500%);
}
.weatherNow h2 {
  font-size: 2rem;
}
.weatherNow h3 {
  font-family: "MidnightMinutes";
  font-size: 2.5rem;
  margin: 15px;
}

/* ------------ Weather Detail ------------ */

.weatherCard {
  width: 85svw;
}

h4 {
  font-size: 3rem;
}

.weatherDetail {
  margin: 50px;
  padding: 20px;
  border-bottom: 2px solid #393939;
  display: flex;
  /* align-items: center;
  justify-content: center; */

  flex-wrap: nowrap;
  margin: 50px 20px;
  padding: 20px;
  background-color: #3e3e3e;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.singleWeather {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid #242424;
}

.singleWeather p {
  font-size: 1.3rem;
  text-align: center;
  padding: 30px;
}

.singleWeather img {
  height: 70px;
  width: 70px;
  filter: sepia() hue-rotate(310deg) saturate(500%);
}

.singleWeather h2 {
  font-family: "MidnightMinutes";

  font-size: 2rem;
}

.weatherDetail h3 {
  font-family: "MidnightMinutes";
  font-size: 2.5rem;
  margin: 15px;
}
